<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>PLUGINS PHONE GAP</name>

<description>
Muestra un ejemplo con los plugins para phonegap
</description>

<author href="https://gumonet.com" email="agutierrez@gumonet.com">
Angel Gutierrez Monola
</author>

</widget>
